.contact-table {
  border: 1px solid #676767;
  margin-top: 30px;
}

.column-header {
  background-color: #676767;
  color: #EAEAEA;
  border-right: 1px solid #EAEAEA;
  width: 100%;
  font-size: 0.8em;
  font-weight: normal;
}

.contact-cell {
  border-bottom: 1px solid #D3D3D3;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
}
