.acf-footer {
  width: 380px;
  height: 20px;
  padding: 10px;
  border-top: 1px solid #C1C1C1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.acf-save-button {
  cursor: pointer;
  background-color: #656565;
  color: #D5D5D5;
  padding: 6px 10px;
  font-size: 0.6em;
  text-decoration: none;
}
